ex45_hotel_lobby.py
ex45_hotel_logg.txt
ex45_hotel.py
ex45_mattematik2.py
ex45_mattematik.py
ex45_matte.txt
ex45_read_textfile.py
ex45_slumpen.py
ex45_studydrill1.txt
ex45_studydrill.py
ex45_test_Map_listor2.py
ex45_test_Map_listor.py
ex45_while_test1.py
kasta_bort.py
kasta_bort_sen.py
